<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔에 로그를 출력하도록 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MongoTemplate 로그 설정 -->
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- MongoDbUtils 로그 설정 -->
    <logger name="org.springframework.data.mongodb.core.MongoDbUtils" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 기본 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>